.app-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #76d0ef;
  // overflow: hidden;
  @media (min-width: 767px) {
    overflow: hidden;
  }
}

.app-container {
  max-width: 520px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;

  @media (min-width: 768px) {
    margin: 80px auto 0;
    min-height: 780px;
    border-radius: 5px;
  }
}

.app-header {
  position: relative;
  height: 200px;
  background-image: url('../../assets/images/Padle-Background-Vector.jpg');
  background-size: cover;
  background-color: #fff;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #007bff;
}
.app-headerWrap {
  width: 100%;
  margin-top: 115px;
}

.app-logout {
  position: absolute;
  top: 5px;
  right: 5px;
}

.app-body {
  overflow: hidden;
  background-color: #fff;
}
